

/* Estilos específicos para los datos del perfil de la mascota */
.pet-profile {
  text-align: left;
}

.pet-profile h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.pet-profile p {
  margin-bottom: 0.5rem;
  color: #495057;
}

.pet-profile strong {
  color: #343a40;
}
